{% extends 'task_app/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="text-center mb-4">Login</h1>
        <form method="POST" class="p-4 shadow rounded bg-white">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <button 
                class="btn btn-outline-info" 
                onclick="location.href='{% url 'task_app:register' %}'">
                Register
            </button>
    

            <button 
                class="btn btn-outline-info" 
                onclick="location.href='{% url 'task_app:password_reset_request' %}'">
                Password Recovery
            </button>
        </div>
        
    </div>
</div>
{% endblock %}
