{% extends 'task_app/base.html' %}
{% block title %}My Tasks{% endblock %}
{% block content %}
<h1 class="mb-4">My Tasks</h1>

<div class="mb-3 d-flex justify-content-end gap-2">
    <a href="{% url 'task_app:welcome' %}" class="btn btn-outline-primary">Home Page</a>
    <a href="{% url 'task_app:task_create' %}" class="btn btn-outline-success">
        <i class="bi bi-plus-circle"></i> Add New Task
    </a>
</div>


<form method="get" action="{% url 'task_app:task_list' %}">
    {{ filter_form.as_p }}
    <button type="submit" class="btn btn-primary">Filter</button>
    <button type="submit" name="export" value="pdf" class="btn btn-secondary">Export to PDF</button>
</form>

<br>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Task Name</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.status }}</td>
            <td>
                <a href="{% url 'task_app:task_update' task.id %}" class="btn btn-sm btn-warning"><i class="bi bi-pencil"></i> Edit</a>
                <a href="{% url 'task_app:task_delete' task.id %}" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i> Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
